section.dois {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 200px 0 0 0;
    background: linear-gradient(90deg,#ffffff , #e6e6e6 );
}

section.dois div.texto {
    padding: 0 0 300px 0;
    margin: 0 0 70px 0;
    margin-top: -100px;
   
}

section.dois div.texto h2 {
    font-family: 'Inter' , sans-serif;
    font-weight: 700;
    font-size: var(--f6);
    color: var(--azul);
}
section.dois div.texto p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: var(--f3);
    margin: 10px 20px 70px 0;
}
section.dois div.texto a {
    font-family: 'Inter';
    font-weight: 700;
    font-size: var(--f3);
    background-color: var(--verde);
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 15px;
    font-family: 'Inter';
    color: white;
    background: linear-gradient(to bottom, var(--verde) , #74ff33c7 ); 
    margin: 0 0 0 100px;
}

section.dois .images{
    width: 100%;
    max-width: 900px;
    margin-top: -200px;
    padding: 0 0 60px 120px;
}
section.dois .ofta {
    z-index: 3;
    position: relative;
}
section.dois .blush.um {
    position: absolute;
    top: 40px;
    left: 100px;
    z-index: 1;
}
section.dois .blush.dois {
  position: absolute;
  top: 490px;
  left: 140px;
  z-index: 3;
}